*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}

            nav{
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #E0E0E0;
                height: 60px;
            }
            #nav_list{
                list-style: none;
                display: flex;

            }
            #nav_list li{
             letter-spacing: 10px;
             margin-left: 0px;

            }
            .aberto-menu-btn,.fechado-menu-btn, #chk{
                display: none;
            }
            .bt_1, .bt_2{
                width: 350px;
                height: 40px;
                border-left: none;
                border-top: none;
                border-bottom: none;
                background-color: #FFFFFF;
            }

            .bt_2:last-child{
                border-right: none;
            }

           .principal{
               display: flex;
               flex-direction: row;
               width: 100%;
               align-items: center;
               justify-content: center;
               padding-top: 50px;
           }
           .todos{
              display: flex;
              justify-content: center;
           }
           .h3_exemplo{
               padding-bottom: 20px;
           }
           .filho{
               display: flex;
               width: 400px;
               height: 344px;
               border: 1px solid #979797;
               flex-direction: column;
               border-radius: 4px;
               padding-top: 40px;
           }
           input, select{
               width: 370px;
               height: 32px;
               margin: 10px 10px 10px 10px;
               justify-content: center;
           }
        label{
             margin-left: 10px;
        }
        .campo_4{
           display: flex;
           justify-content: center;
           padding-top: 20px;
        }
        .bt{
            width: 370px;
            height: 32px;
            background-color: #333333;
            color: #FFFFFF;
            border-radius: 4px;
            
        }
        .exemplo{
            text-align: center;
        }
        .extrato{
            display: flex;
            width: 680px;
            height: 281px;
            margin-left: 60px;
        }
        table{
            display: flex;
            align-items: center;
        }
        td, tr{
            display: flex;
            justify-content: space-around;
            width:680px;
            border-bottom: 1px solid #979797
        }
        .lucro{
            margin-left: 350px;
        }
        .tr_extra{
            text-align: center;
            padding-bottom: 40px;
        }
        td, tr:last-child{
            border-bottom: none;

          }
        td,tr:nth-last-child(2){
            border-bottom: none;
        }
        #bar3{
            display: none;
        }
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 8px;
            background:black;
        }

        @media screen and (max-width: 1112px){
            
            header{
                width: 1112px;
            }
            .extrato{
                width: 550px;
                height: 281px;
            }
            .campo{
                margin-left: 100px;
            }
            td, tr{
                width: 550px;
            }
        }

        @media screen and (max-width: 768px){

            .todos{
                width: 100%;
                max-width: 728px;
            }
            .principal{
                flex-direction: column;
                border: none;
                width: 100%;
                max-width: 728px;
             }

             .sobrinho{
                 display: flex;
                 flex-direction: row;
                 width: 100%;
                 max-width: 728px;
                 height: 80px;
             }
             .filho{
                 width: 728px;
                 max-width: 728px;
                 height: 189px;
                 border-radius: 4px;
             }
             input, select{
                width: 100%;
            }

            .campo_1, .campo_2,.campo_3{
                margin-right: 30px;
            }
            .campo_4{
                justify-content: right;
                margin-right: 13px;
            }
            .bt{
                width: 185px;
            }
            .Menu{
                display: none;
            }

            input[type="checkbox"]{
                display: none;
            }

            #bar3{
                display: flex;
            }
            header{
                width: 728px;
            }
            .extrato{
                width: 728px;
                margin-right: 50px;
            }
            td, tr{
                width: 728px;
            }
            table{
                margin-top: 30px;
            }
            .h2_extra{
                margin-top: 50px;
            }

            #nav_list{
                position: fixed;
                top: 0;
                right: -100%;
                width: 252px;
                height: 100%;
                background-color: #333333;
                flex-direction: column;
                align-items: center;
                margin: 0;
                transition: 0.7s;
            }
            #nav_list li{
                margin-left: 0;
            }
            .aberto-menu-btn, .fechado-menu-btn{
                display: block;
                cursor: pointer;
            }
            #chk:checked ~ .menu{
                right:0;
            }
            .fechado-menu-btn{
                color: aliceblue;
                position:absolute;
                top: 20px;
                left: 20px;
            }
            .bt_1, .bt_2{
                position: relative;
                top: 62px;
                margin-top: 20px;
                background-color: transparent;
                color: #FFFFFF;
                font-size: 16px;
                border: transparent;
            }
        }
        @media screen and (max-width: 411px){
            .filho{
                width: 371px;
                height: 380px;
                border-left: none;
                border-right: none;
                border-top: none;
            }
            .sobrinho{
                flex-direction: column;
            }
            .campo_4{
                margin-top: 160px;
            }
            .bt{
                width: 350px;
                border-radius: 4px;
            }
            header{
                width: 411px;
                justify-content: space-around;
            }
            .todos{
                width: 411px;
            }

            .extrato{
                width: 411px;
            }
            td,tr{
                width: 411px;
            }
            .lucro{
                margin-left: 200px;
              }
              .texto_logo{
                  padding-left: 30px;
              }
              .principal{
                  width: 100%;
              }
              #nav_list{
                  width: 351px;
              }
       }